<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="TRNUL6UROkHOE85SSSWftmsdNaweU3KkMTxjecZapz0">
    <title>{{ with .Site.Params.notfound_title }}{{ . }}{{ end }}</title>
    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/freelancer.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/font-awesome/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/font-awesome/css/brands.min.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}css/font-awesome/css/solid.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/favicon.png">
  </head>
  <body id="page-top" class="notfound">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="intro-text">
              <span class="name">404</span>
                <hr class="star-light">
              <span class="skills">{{ with .Site.Params.notfound_subtitle }}{{ . }}{{ end }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <ul class="list-inline text-center">
              <li>
                <a href="{{ .Site.BaseURL }}" class="btn-social btn-outline"><i class="fas fa-home"></i></a>
              </li>
              {{ range .Site.Params.social.networks -}}
              <li>
                <a {{ with .rel }}rel="{{.}}" {{ end -}} href="{{ .link }}" class="btn-social btn-outline"><i class="{{ .icon }}"></i></a>
              </li>
              {{- end }}
            </ul>
          </div>
        </div>
      </div>
    </footer>
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  </body>
</html>
